/*
    CSS sheet for the DM testing report
    Created by Dan Jackson
    June 2, 2010
*/

/* Cover page table for overall page formatting */
table.coverpage {
	border-width: 0px;
	border-style: groove;
	border-color: black;
	border-collapse: separate;
	background-color: white;
}

table.coverpage th {
	border-width: 0px;
	padding: 0px;
	border-style: inset;
	border-color: gray;
	background-color: white;
}

table.coverpage td {
	border-width: 0px;
	padding: 0px;
	border-style: inset;
	border-color: gray;
	background-color: white;
}

/* Cover page "left bar" visible table */
table.coverpageleft {
	border-width: 1px;
	border-style: groove;
	border-color: black;
	border-collapse: separate;
	background-color: white;
    margin-left:0px; 
    margin-right:5px;
}

table.coverpageleft th {
	border-width: 0px;
	padding: 5px;
	border-style: inset;
	border-color: gray;
	background-color: white;
}

table.coverpageleft td {
	border-width: 0px;
	padding: 5px;
	border-style: inset;
	border-color: gray;
	background-color: white;
    vertical-align:  middle ;    
}

.verticaltext {
	writing-mode: tb-rl;
	/* filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); [Bug 52157] */
	text-align:center;
	font-size:45px;
	font-family:Verdana, Arial, sans-serif;
    font-weight:bold;
    white-space:nowrap;
}
    
.generaltext {
	text-align:center;
	font-size:12px;
	font-family:Verdana, Arial, sans-serif;
	font-weight:normal;
}
    
/* Cover page text */
.title {
	text-align:center;
	font-size:22px;
	font-family:Verdana, Arial, sans-serif;
	font-weight:bold;    
}
    
.subtitle {
	text-align:center;
	font-size:16px;
	font-family:Verdana, Arial, sans-serif;
	font-weight:normal;    
}
    
table.abstract {
	border-width: 0px;
	border-spacing: ;
	border-style: groove;
	border-color: black;
	border-collapse: separate;
	background-color: white;
    page-break-before:always;
    margin-left:10px; 
    margin-right:10px;
}

table.abstract th {
	border-width: 0px;
	padding: 5px;
	border-style: inset;
	border-color: gray;
	background-color: white;
    text-align:center;
    font-size:24px;
	font-family:Verdana, Arial, sans-serif;
	font-weight:normal;
}

table.abstract td {
	border-width: 0px;
	padding: 5px;
	border-style: inset;
	border-color: gray;
	background-color: white;
    text-align:justify;
	font-size:12px;
	font-family:Verdana, Arial, sans-serif;
	font-weight:normal;
}
    
.disclaimer {
	border-width: 1px;
	padding: 5px;
	border-style: ridge;
	border-color: black;
	background-color: white;
    font-size:12px;
	font-family:Verdana, Arial, sans-serif;
	font-style:italic;
	font-weight:normal;
}

table.overview {
	border-width: 0px;
	border-spacing: ;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
    page-break-before:always;
    margin-left:10px; 
    margin-right:10px;
}

table.overview th {
	border-width: 0px;
	padding: 5px;
	border-style: groove;
	border-color: red;
	background-color: rgb(245, 235, 225);
    text-align:center;
    font-size:20px;
	font-family:Verdana, Arial, sans-serif;
	font-weight:normal;
}

table.overview td {
	border-width: 1px;
	padding: 5px;
	border-style: groove;
	border-color: black;
	background-color: white;
    text-align:justify;
	font-size:12px;
	font-family:Verdana, Arial, sans-serif;
	font-weight:normal;
}

.overviewleftcolumn {
	font-size:16px;
	font-family:Verdana, Arial, sans-serif;
	font-weight:normal; 
	text-align:right;
	vertical-align:top;
}
    
.subtext {
	text-align:left;
	font-size:12px;
	font-family:Verdana, Arial, sans-serif;
	font-style:italic;
	font-weight:normal;
}


table.resolutionsTable {
	border-width: 0px;
	border-spacing: ;
	border-style: groove;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}

table.resolutionsTable th {
	border-width: 1px;
	padding: 1px;
	border-style: groove;
	border-color: black;
	background-color:white;
    vertical-align:top;
}

table.resolutionsTable td {
	border-width: 1px;
	padding: 1px;
	border-style: groove;
	border-color: black;
	background-color: white;
    font-size:12px;
	font-family:Verdana, Arial, sans-serif;
	font-weight:normal;
}

table.detailedResolutionsTable 
{
	border-width: 0px;
	border-spacing: ;
	border-style: groove;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
    padding: 1px;
    margin-right: 5px;
    min-width:15%;
    float:left;
}

table.detailedResolutionsTable th {
	border-width: 1px;
	padding: 1px;
	border-style: groove;
	border-color: black;
	background-color:white;
    vertical-align:top;
}

table.detailedResolutionsTable td {
	border-width: 1px;
	padding: 1px;
	border-style: groove;
	border-color: black;
	background-color: white;
	color:Black;
    font-size:12px;
	font-family:Verdana, Arial, sans-serif;
	font-weight:normal;
}

hr{
    border: 0;
    height: 2px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}

.highlight {
	color: #FF0000;    
}

.verticalResolution th { 
	padding: 1rem 0;
	vertical-align: bottom;
}
			
.verticalResolution span {
	font-size:10px;
	font-family:Verdana, Arial, sans-serif;
	-ms-writing-mode: tb-rl; /* old syntax. IE */
	-webkit-writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl;
	-ms-writing-mode: vertical-rl;
	writing-mode: vertical-rl; /* new syntax */
}

h2 {
	font-family:Verdana, Arial, sans-serif;
	font-weight:normal;
	page-break-before:always;
}
